.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFFFFF;
  margin: 0 auto;


  @media (min-width: $tablet) {
    width: 768px;
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  @media (min-width: $desktop) {
    width: 1440px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer__logo {
  @media (min-width: $tablet) {
    padding-left: 2px;
  }
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17.5rem;
  border-bottom: 1px solid #F0EBFF;
  padding: 20px;
  padding-bottom: 14px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 728px;
    border: none;
    padding: 37px 0 25px 0;
    grid-column: 1 / 4;
  }

  @media (min-width: $desktop) {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 30px 45px 40px;
    margin: 0;
    grid-column: 1 / 2;
  }
}

.footer__small-text {
  @media (max-width: $desktop) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: block;
    font-family: 'Montserrat', "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    padding: 0 0 45px 0;
  }
}

.footer__socials-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__socials-item-icon {
  color: #BDBDBD;
}

.footer__socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;

  &:hover,
  &:focus {
    background-color: #F0EBFF;

    .footer__socials-item-icon {
      color: #7859CF;
    }
  }

  &:active {
    background-color: rgba(120, 89, 207, 0.25);

    .footer__socials-item-icon {
      color: #7859CF;
    }
  }

  @media (min-width: $desktop) {
    width: 20px;
    height: 20px;
  }
}

.footer__socials-item:not(:last-child) {
  margin-right: 20px;

  @media (min-width: $tablet) {
    margin-right: 16px;
  }

  @media (min-width: $desktop) {
    margin-right: 20px;
  }
}

.footer__ecom-links {
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  border-bottom: 1px solid #F0EBFF;
  padding: 20px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    justify-content: flex-start;
    width: 223px;
    padding: 0 20px;
    border: none;
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop) {
    padding: 49px 30px 20px 0;
    width: auto;
    align-items: flex-start;
    grid-column: 2 / 3;
    margin: 0;
  }
}

.footer__ecom-links-title {
  font-family: 'Montserrat', "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #7859CF;
  padding-bottom: 12px;
  margin: 0;

  @media (min-width: $desktop) {
    padding-left: 28px;
  }
}

.footer__ecom-links-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop) {
    padding-left: 28px;
  }
}

.footer__ecom-links-link {
  color: #333333;
  text-decoration: none;
  word-break: break-word;
}

.footer__ecom-links-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer__ecom-links-item {
  font-family: 'Montserrat', "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 8px 0;

  &:hover,
  &:focus {
    .footer__ecom-links-link {
      color: #9070EC;
    }
  }

  &:active {
    .footer__ecom-links-link {
      color: #593CAC;
    }
  }
}

.footer__media-links {
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  border-bottom: 1px solid #F0EBFF;
  padding: 20px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 222px;
    padding: 0 5px;
    border: none;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop) {
    align-items: flex-start;
    width: auto;
    padding: 49px 30px 0 0;
    margin: 0;
    grid-column: 3 / 4;
  }
}

.footer__media-links-title {
  font-family: 'Montserrat', "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #7859CF;
  margin: 0;
  padding-bottom: 12px;
  word-break: break-word;

  @media (min-width: $desktop) {
    padding-left: 14px;
  }
}

.footer__media-links-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop) {
    padding-left: 14px;
  }
}

.footer__media-links-link {
  color: #333333;
  text-decoration: none;
  word-break: break-word;
}

.footer__media-links-item {
  font-family: 'Montserrat', "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 8px 0;

  &:hover,
  &:focus {
    .footer__media-links-link {
      color: #9070EC;
    }
  }

  &:active {
    .footer__media-links-link {
      color: #593CAC;
    }
  }
}

.footer__media-links-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  border-bottom: 1px solid #F0EBFF;
  padding: 20px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 223px;
    padding: 0 20px;
    border: none;
    grid-column: 3 / 4;
  }

  @media (min-width: $desktop) {
    width: auto;
    padding: 50px 40px 75px 0;
    margin: 0;
    grid-column: 4 / 5;
  }
}

.footer__contacts-title {
  font-family: 'Montserrat', "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #7859CF;
  margin: 0;
  padding-bottom: 20px;
}

.footer__contacts-address {
  font-family: 'Montserrat', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  padding-left: 19px;
  background-image: url("../../img/icons/stack.svg#address-logo");
  background-size: 13px 16px;
  background-repeat: no-repeat;
  background-position: top 2px left 0;
  margin-bottom: 16px;

  &:hover,
  &:focus {
    color: #9070EC;
  }

  &:active {
    color: #593CAC;
  }
}

.footer__contacts-phone {
  font-family: 'Montserrat', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-decoration: none;
  padding-left: 19px;
  background-image: url("../../img/icons/stack.svg#phone-logo");
  background-size: 13px 16px;
  background-repeat: no-repeat;
  background-position: top 0 left 0;

  &:hover,
  &:focus {
    color: #9070EC;
  }

  &:active {
    color: #593CAC;
  }
}

.footer__copyright-wrapper {

  &:hover,
  &:focus {
    .footer__copyright-text {
      color: #7859CF;
    }

    svg {
      color: #7859CF;
    }
  }

  &:active {
    .footer__copyright-text {
      color: #593CAC;
    }

    svg {
      color: #593CAC;
    }
  }

  @media (min-width: $desktop) {
    padding-bottom: 40px;
  }
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 30px 0;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 30px 0 40px 0;
    grid-column: 1 / 5;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.footer__copyright-text {
  font-family: 'Montserrat', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #BDBDBD;
  text-decoration: none;
  margin-right: 4px;
}

.footer__copyright-wrapper svg {
  color: #BDBDBD;
}
