.map {
  width: 100%;
  background-color: #E5E5E5;
}

.map__interactive {
  display: none;
}

.map__interactive--active {
  display: block;
  height: 420px;

  @media (min-width: $tablet) {
    height: 480px;
  }

  @media (min-width: $desktop) {
    height: 540px;
  }
}

.map__static {
  display: none;
}

.map__static--nojs {
  display: block;
  margin: 0 auto;
  height: 420px;

  @media (min-width: $tablet) {
    height: 480px;
  }

  @media (min-width: $desktop) {
    height: 540px;
  }
}
